<div class="foodContainer">
    <div> 
        <input type="text" [(ngModel)]="inputValue" value="" name="search"> 
        <button (click)="searchFood()">Go</button>  
    </div>

    <ul>
        @if (filteredFoods.length > 0) {
            @for (food of filteredFoods; track food.name) {
                <li>
                    <div class="foodCard">
                        <img class="foodImage" [src]="food.image" alt="Food Image">
                        <h3>{{food.name}}</h3>
                        <p>Calories: {{food.calories}}</p>
                    </div>
                </li>
                }
            
        } @else {
            @for (food of foods; track food.name) {
                <li>
                    <div class="foodCard">
                        <img class="foodImage" [src]="food.image" alt="Food Image">
                        <h3>{{food.name}}</h3>
                        <p>Calories: {{food.calories}}</p>
                    </div>
                </li>
                }
        }
    </ul>  
</div>
